{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<!-- Left-aligned -->
<div class="media">
  <div class="media-left">
    <img src="{% static 'images/dolphin.jpeg' %}" class="img-circle" style="height:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Dr. Helen Bailey</h4>
    <p>Lorem ipsum...</p>
  </div>
</div>

<!-- Right-aligned -->
<div class="media">
  <div class="media-right">
    <img src="{% static 'images/seaturtle.jpeg' %}" class="img-circle" style="height:60px">
  </div>
  <div class="media-body">
    <h4 class="media-heading">Nicole Barbour</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>

{% endblock %}
